# Environment Variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/migrations/

# Test coverage
coverage/
